fastapi~=0.119.0
uvicorn~=0.37.0
python-dotenv~=1.1.0
pydantic~=2.11.9
langchain-openai~=0.3.16
langchain-core~=0.3.77
pdfplumber~=0.11.7
pytesseract~=0.3.13
pillow~=10.4.0
langchain~=0.3.27
python-pptx~=1.0.2
python-docx~=1.2.0
playwright~=1.56.0
numpy~=2.0.1
huggingface-hub~=0.35.3
chromadb~=1.1.1
Jinja2~=3.1.6
PyPDF2~=3.0.1